/lw3/lw3-hack/Debug
/lw3/lw3-hack/.vs
/lw2/lw2-inst/obj
/lw2/lw2-inst/bin/Debug/net5.0-windows
/lw2/lw2-inst/.vs/lw2-inst
/lw2/lw2-prog/Properties
/lw2/lw2-prog/obj
/lw2/lw2-prog/bin
/lw2/lw2-prog/.vs/lw2
/lw2/n-lw2_inst/obj
/lw2/n-lw2_inst/bin
/lw2/n-lw2_inst/.vs/n-lw2_inst
/lw2/n-lw2_prog/Properties
/lw2/n-lw2_prog/obj
/lw2/n-lw2_prog/bin
/lw2/n-lw2_prog/.vs/n-lw2_prog
/lw3/lw3-encrypt/.vs
/lw3/lw3-encrypt/Debug
/lw3/lw3-encrypt/coded.txt
/lw3/lw3-hack/coded.txt
